{% extends "demos/base.html" %}
{% load markdown_extras %}
{% load static %}
{% block content %}
<section>
{% if not request.session.is_old_browser %}
<aside>
<h3>Play retro Macintosh games in your browser</h3>
<div class="homebutton"><a href="{% url 'demos:playable' %}"><b><span aria-hidden="true" class="fa-solid fa-play"></span> Play the games &rarr;</b></a></div>
<p>Play <b>{{ infinitemac.count }}</b> demos for Classic-era Macintosh videogames in your browser right now, courtesy of <a href="https://infinitemac.org/">Infinite Mac</a>. Flash back to legendary Mac exclusives like <a href="{% url 'demos:demo' 'glider-pro' %}">Glider Pro</a>, <a href="{% url 'demos:demo' 'spaceward-ho' %}">Spaceward Ho!</a>, and the <a href="{% url 'demos:demo' 'marathon-1' %}">whole</a> <a href="{% url 'demos:demo' 'marathon-2-durandal' %}">Marathon</a> <a href="{% url 'demos:demo' 'marathon-infinity' %}">trilogy</a>.</p>
<p><b>Most played games:</b></p>
{% include "demos/game_cards.html" with games=infinitemac|slice:":5" tiny=True %}
</aside>
{% endif %}  
<aside>
<h3>Download retro Macintosh game demos</h3>
<div class="homebutton"><a href="{% url 'demos:games' %}"><b><span aria-hidden="true" class="fa-solid fa-download" title="Download"></span> Get the games{% if not request.session.is_old_browser %} &rarr;{% endif %}</b></a></div>
<p>Download <b>{{ downloads.count }}</b> game demos to your Classic-era Macintoshes or emulators for a quick retrogaming fix. Vintage browser users, try the site's <a href="http://classicmacdemos.com/">http mode</a>.</p>
<p><b>Most downloaded games:</b></p>
{% include "demos/game_cards.html" with games=downloads|slice:":5" tiny=True %}
</aside>  
<aside>
<h3>Browse Macintosh magazine cover CDs</h3>
<div class="homebutton"><a href="{% url 'demos:sources' %}"><b><span aria-hidden="true" class="fa-solid fa-compact-disc" title="Discs"></span> Explore the CDs{% if not request.session.is_old_browser %} &rarr;{% endif %}</b></a></div>
<p>Relive the retro computer magazine experience with a library of <b>{{ sources }}</b> cover CDs from Macintosh computer magazines, all explorable in a live <a href="https://infinitemac.org/">Infinite Mac</a> virtual machine.</p> 
<p>Includes CDs that originally came bundled with <a href="{% url 'demos:magazine' 'macworld' %}">Macworld</a>, <a href="{% url 'demos:magazine' 'macaddict' %}">Macaddict</a>, and <a href="{% url 'demos:magazine' 'inside-mac-games' %}">Inside Mac Games</a>, plus a growing collection of global magazines.</p>
{% for disc in discs|slice:":1" %}
    {% if disc.images > 0 %}
        <p><b>Newest CD:</b></p>
        <a href="{% url 'demos:source' disc.slug %}"><img src="{{ request.scheme }}:{% static 'discs' %}/{{ disc.slug }}/image-1.png" alt="{{ disc.description }}"></a>
    {% endif %}
{% endfor %}
</aside>
</section>
{% endblock %}