{% extends "demos/base.html" %}
{% load markdown_extras %}
{% load static %}
{% block content %}
<section>
<aside>
<h3>Download classic Macintosh game demos</h3>
<div class="homebutton"><a href="{% url 'demos:games' %}"><b><span aria-hidden="true" class="fa-solid fa-download" title="Download"></span> Get the games{% if not request.session.is_old_browser %} &rarr;{% endif %}</b></a></div>
<p>Browse <b>{{ downloads.count }}</b> downloadable game demos for Classic-era Macintoshes for a quick retrogaming fix. Retro-browser users, try the site's <a href="http://classicmacdemos.com/">http mode</a>.</p>
<p><b>Most downloaded games:</b></p>
{% include "demos/game_cards.html" with games=downloads|slice:":5" tiny=True %}
</aside>    
<aside>
<h3>Explore computer magazine CDs from the 1990s</h3>
<div class="homebutton"><a href="{% url 'demos:sources' %}"><b><span aria-hidden="true" class="fa-solid fa-compact-disc" title="Discs"></span> Explore the discs{% if not request.session.is_old_browser %} &rarr;{% endif %}</b></a></div>
<p>Relive that 90s computer magazine cover CD experience with a library of <b>{{ discs.count }}</b> demo CDs, all explorable live in an <a href="https://infinitemac.org/">Infinite Mac</a> virtual machine.</p> 
<p>Includes CDs that originally came bundled with <a href="{% url 'demos:magazine' 'macworld' %}">Macworld</a>, <a href="{% url 'demos:magazine' 'macaddict' %}">Macaddict</a>, and <a href="{% url 'demos:magazine' 'inside-mac-games' %}">Inside Mac Games</a>, plus a growing collection of global magazines. </p>
<p><b>Newest find:</b></p>
{% for disc in discs|slice:":1" %}
    {% if disc.images > 0 %}
        <a href="{% url 'demos:source' disc.slug %}"><img src="{{ request.scheme }}:{% static 'discs' %}/{{ disc.slug }}/image-1.png" alt="{{ disc.description }}"></a>
    {% else %}
        <a href="{% url 'demos:source' disc.slug %}">{{ disc.description }}</a>
    {% endif %}
{% endfor %}
</aside>
{% if not request.session.is_old_browser %}
<aside>
<h3>Play classic game demos in your browser</h3>
<div class="homebutton"><a href="{% url 'demos:playable' %}"><b><span aria-hidden="true" class="fa-solid fa-play"></span> Play the games &rarr;</b></a></div>
<p>Play <b>{{ infinitemac.count }}</b> classic-era Macintosh videogame demos in your browser right now courtesy of <a href="https://infinitemac.org/">Infinite Mac</a>. Flash back to legendary Mac exclusives like <a href="{% url 'demos:demo' 'glider-pro' %}">Glider Pro</a>, <a href="{% url 'demos:demo' 'spaceward-ho' %}">Spaceward Ho!</a>, and the <a href="{% url 'demos:demo' 'marathon-1' %}">whole</a> <a href="{% url 'demos:demo' 'marathon-2-durandal' %}">Marathon</a> <a href="{% url 'demos:demo' 'marathon-infinity' %}">trilogy</a>.</p>
<p><b>Most played games:</b></p>
{% include "demos/game_cards.html" with games=infinitemac|slice:":5" tiny=True %}
</aside>
{% endif %}
</section>
{% endblock %}