{% extends "demos/base.html" %}
{% load markdown_extras %}
{% load static %}
{% block title %}{% block og-title %}{% block tw-title %}{{ magazine }}  ({{ magazine.begin.year__min }}{% if magazine.source_set.count > 1 and magazine.end.year__max > magazine.begin.year__min %} - {{ magazine.end.year__max }}{% endif %}) | Classic Macintosh Game Demos{% endblock %}{% endblock %}{% endblock %}
{% block description %}{% block og-description %}{% block tw-description %}Download and browse {{ magazine.source_set.all.count }} discs from {{ magazine }} ({{ magazine.begin.year__min }}{% if magazine.source_set.count > 1 and magazine.end.year__max > magazine.begin.year__min %} - {{ magazine.end.year__max }}{% endif %}) | Classic Macintosh Game Demos{% endblock %}{% endblock %}{% endblock %}
{% block og-image %}{% block tw-image %}{% if magazine.image %}{{ request.scheme }}:{% static 'magazines'%}/{{ magazine.slug }}/image-1.png{% else %}{{ block.super }}{% endif %}{% endblock %}{% endblock %}
{% block header %}
<h1>{{ magazine }}</h1>
<section>
<a href="{% url 'demos:sources' %}"><b>{% if not request.session.is_old_browser %}&larr; {% endif %}All magazines</b></a>
{% if request.session.is_old_browser %}<p>{% endif %}
{% if magazine.url %}<a href="{{ magazine.url }}" target="_blank"><b><span aria-hidden="true" class="fa-solid fa-globe"></span> Website</b></a>{% endif %}
{% if request.session.is_old_browser %}</p>{% endif %}
</section>
{% endblock %}
{% block content %}
<section>
{% if magazine.blurb %}<article>{{ magazine.blurb | markdown | safe }}</article>{% endif %}
<section>
    {% for source in magazine.source_set.all %}
    <aside class="magazine-card"><a href="{% url 'demos:source' source.slug %}">
    <strong>{{ source }}</strong>
    {% if source.month or source.year %}<div><span aria-hidden="true" class="fa-solid fa-calendar" title="Released"></span><span class="fa-sr-only">Released</span> {% if source.month %}{{ source.get_month_display }} {% endif %}{% if source.year %}{{ source.year }}{% endif %}</div>{% endif %}
    <div class="icons">
    {% if source.url %}<span aria-hidden="true" class="fa-solid fa-compact-disc" title="CD"></span><span class="fa-sr-only">CD</span>{% endif %}
    {% if source.disc2_url or source.disc2_infinite_mac_url %}<span aria-hidden="true" class="fa-solid fa-compact-disc" title="CD"></span><span class="fa-sr-only">CD 2</span>{% endif %}
    {% if source.disc3_url or source.disc3_infinite_mac_url %}<span aria-hidden="true" class="fa-solid fa-compact-disc" title="CD"></span><span class="fa-sr-only">CD 3</span>{% endif %}
    {% if source.disc4_url or source.disc4_infinite_mac_url %}<span aria-hidden="true" class="fa-solid fa-compact-disc" title="CD"></span><span class="fa-sr-only">CD 4</span>{% endif %}
    {% if source.url %} | {% endif %} 
    {% if source.magazine_url or source.magazine_embed_url %}<span aria-hidden="true" class="fa-solid fa-book-open" title="Read"></span><span class="fa-sr-only">Read</span> | {% endif %}
    <span aria-hidden="true" class="fa-solid fa-download" title="Demos"></span><span class="fa-sr-only">Demos</span> {{ source.game.all.count }} | 
    <span aria-hidden="true" class="fa-solid fa-play" title="Playable demos"></span><span class="fa-sr-only">Play</span> {{ source.playable_games.count }}
    </div>
    {% if not request.session.is_old_browser %}{% if source.images >= 1 %}<img src="{{ request.scheme }}:{% static 'discs' %}/{{ source.slug }}/image-1.png" alt="{{ source.description }}">{% else %}<img src="{{ request.scheme }}:{% static 'icons' %}/cd-medium.png" alt="{{ source.description }}">{% endif %}{% endif %}
    </a></aside>
    {% if request.session.is_old_browser %}<p>{% endif %}
    {% endfor %}
    </section>
</section>
{% endblock %}