{% extends "demos/base.html" %}
{% load static %}
{% load markdown_extras %}
{% block title %}{% block og-title %}{% block tw-title %}{{ source.description }}{% if source.year %} ({% if source.month %}{{ source.get_month_display }} {% endif %}{{ source.year }}){% endif %} | Classic Macintosh Game Demos{% endblock %}{% endblock %}{% endblock %}
{% block description %}{% block og-description %}{% block tw-description %}Macintosh magazine cover CD '{{ source.description }}'.{% endblock %}{% endblock %}{% endblock %}
{% block og-image %}{% block tw-image %}{% if source.images >= 1 %}{{ request.scheme }}:{% static 'discs' %}/{{ source.slug }}/image-1.png{% else %}{{ block.super }}{% endif %}{% endblock %}{% endblock %}
{% block splide %}{% if source.images > 1 %}{% include "demos/splide.html" %}{% endif %}{% endblock %}
{% block header %}
<h1>{{ source.description }}</h1>
<section>
{% if source.magazine.slug %}<a href="{% url 'demos:magazine' source.magazine.slug %}"><b>{% if not request.session.is_old_browser %}&larr;{% endif %} All {{ source.magazine }}</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.url %}<a href="{{ source.url }}"><b><span aria-hidden="true" class="fa-solid fa-compact-disc"></span> Get the disc</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.discmaster %}<a href="{{ source.discmaster }}"><b><span aria-hidden="true" class="fa-solid fa-magnifying-glass"></span> Explore at DiscMaster</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.disc2_url %}<a href="{{ source.disc2_url }}"><b><span aria-hidden="true" class="fa-solid fa-compact-disc"></span> Get disc 2</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.disc2_discmaster %}<a href="{{ source.disc2_discmaster }}"><b><span aria-hidden="true" class="fa-solid fa-magnifying-glass"></span> Explore disc 2 at DiscMaster</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.disc3_url %}<a href="{{ source.disc3_url }}"><b><span aria-hidden="true" class="fa-solid fa-compact-disc"></span> Get disc 3</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.disc3_discmaster %}<a href="{{ source.disc3_discmaster }}"><b><span aria-hidden="true" class="fa-solid fa-magnifying-glass"></span> Explore disc 3 at DiscMaster</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.disc4_url %}<a href="{{ source.disc4_url }}"><b><span aria-hidden="true" class="fa-solid fa-compact-disc"></span> Get disc 4</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.disc2_discmaster %}<a href="{{ source.disc4_discmaster }}"><b><span aria-hidden="true" class="fa-solid fa-magnifying-glass"></span> Explore disc 4 at DiscMaster</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.magazine_url and not source.magazine_embed_url %}<a href="{{ source.magazine_url }}" target="_blank"><b><span aria-hidden="true" class="fa-solid fa-book-open"></span> Read the magazine</b></a>{% endif %}
{% if request.session.is_old_browser %}<p>{% endif %}
{% if source.magazine_embed_url %}
{% if request.session.is_old_browser %}
<a href="{{ source.magazine_embed_url }}" target="_blank"><b><span aria-hidden="true" class="fa-solid fa-book-open"></span> Read the magazine</b></a>
{% else %}
<script>
  function embed_magazine() { document.getElementById("magazine_viewer").innerHTML = '<iframe src="{{ source.magazine_embed_url }}" width="560" height="790" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>'; }
</script>
<a href="#" onclick="embed_magazine()"><b><span aria-hidden="true" class="fa-solid fa-book-open"></span> Read the magazine</b></a>
{% endif %}
{% endif %}
{% if not request.session.is_old_browser %}
 <script>
  function go_fullscreen() {
    the_frame = document.getElementById("infinite_mac_embed_frame");
      if (the_frame.requestFullscreen) {
          the_frame.requestFullscreen();
      } else if (the_frame.mozRequestFullScreen) { // Firefox
          the_frame.mozRequestFullScreen();
      } else if (the_frame.webkitRequestFullscreen) { // Chrome, Safari and Opera
          the_frame.webkitRequestFullscreen();
      } else if (the_frame.msRequestFullscreen) { // IE/Edge
          the_frame.msRequestFullscreen();
      }
  }
  function close_emulator() {
    the_frame = document.getElementById("infinite_mac_embed");
    the_frame.innerHTML = "";
  }
  function launch_emulator(url) { 
    document.getElementById("infinite_mac_embed").innerHTML = `
    <div class="embed">
        <iframe src="${url}" width="800" height="600" allow="cross-origin-isolated" allowfullscreen frameborder="0" id="infinite_mac_embed_frame"></iframe>
      <div style="text-align: right;">
        <span class="text">Emulator by <a href="https://infinitemac.org/" target="_blank">Infinite Mac</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="text"><a href="https://github.com/jcgraybill/classicmacdemos/issues/new" target="_blank">Report an issue</a></span> <a href="https://github.com/jcgraybill/classicmacdemos/issues/new" target="_blank"><span class="icons" style="font-size: small;"><span aria-hidden="true" class="fa-solid fa-bug" title="Report an issue"></span></span></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="text"><a href="#" onclick="go_fullscreen()">Fullscreen</a></span> <a href="#" onclick="go_fullscreen()"><span class="icons" style="font-size: small;"><span aria-hidden="true" class="fa-solid fa-expand" title="Fullscreen"></span></span></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="text"><a href="#" onclick="close_emulator()">Close</a></span> <a href="#" onclick="close_emulator()"><span class="icons" style="font-size: small;"><span aria-hidden="true" class="fa-solid fa-square-xmark" title="Close"></span></span></a>
      </div>
      </div>`
  }
  function launch_osx_emulator(url) { 
    document.getElementById("infinite_mac_embed").innerHTML = `
    <div class="embed">
        <iframe src="${url}" width="832" height="624" allow="cross-origin-isolated" allowfullscreen frameborder="0" id="infinite_mac_embed_frame"></iframe>
      <div style="text-align: right;">
        <span class="text">Emulator by <a href="https://infinitemac.org/" target="_blank">Infinite Mac</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="text"><a href="https://github.com/jcgraybill/classicmacdemos/issues/new" target="_blank">Report an issue</a></span> <a href="https://github.com/jcgraybill/classicmacdemos/issues/new" target="_blank"><span class="icons" style="font-size: small;"><span aria-hidden="true" class="fa-solid fa-bug" title="Report an issue"></span></span></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="text"><a href="#" onclick="go_fullscreen()">Fullscreen</a></span> <a href="#" onclick="go_fullscreen()"><span class="icons" style="font-size: small;"><span aria-hidden="true" class="fa-solid fa-expand" title="Fullscreen"></span></span></a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <span class="text"><a href="#" onclick="close_emulator()">Close</a></span> <a href="#" onclick="close_emulator()"><span class="icons" style="font-size: small;"><span aria-hidden="true" class="fa-solid fa-square-xmark" title="Close"></span></span></a>
      </div>
      </div>`
  }
</script>
{% if source.infinite_mac_url and source.virtual_machine %}<a href="#" onclick="launch_emulator('{% url 'demos:explore' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-power-off"></span> Launch in {{ source.virtual_machine.website_description }} emulator</b></a>{% endif %}
{% if source.disc2_infinite_mac_url and source.virtual_machine %}<a href="#" onclick="launch_emulator('{% url 'demos:explore/2' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-power-off"></span> Launch disc 2 in {{ source.virtual_machine.website_description }} emulator</b></a>{% endif %}
{% if source.disc3_infinite_mac_url and source.virtual_machine %}<a href="#" onclick="launch_emulator('{% url 'demos:explore/3' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-power-off"></span> Launch disc 3 in {{ source.virtual_machine.website_description }} emulator</b></a>{% endif %}
{% if source.disc4_infinite_mac_url and source.virtual_machine %}<a href="#" onclick="launch_emulator('{% url 'demos:explore/4' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-power-off"></span> Launch disc 4 in {{ source.virtual_machine.website_description }} emulator</b></a>{% endif %}
{% if source.infinite_mac_url and source.osx_virtual_machine %}<a href="#" onclick="launch_osx_emulator('{% url 'demos:explore/osx' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-x"></span> Launch in {{ source.osx_virtual_machine.website_description }} emulator</b></a>{% endif %}
{% if source.disc2_infinite_mac_url and source.osx_virtual_machine %}<a href="#" onclick="launch_osx_emulator('{% url 'demos:explore/2/osx' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-x"></span> Launch disc 2 in {{ source.osx_virtual_machine.website_description }} emulator</b></a>{% endif %}
{% if source.disc3_infinite_mac_url and source.osx_virtual_machine %}<a href="#" onclick="launch_osx_emulator('{% url 'demos:explore/3/osx' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-x"></span> Launch disc 3 in {{ source.osx_virtual_machine.website_description }} emulator</b></a>{% endif %}
{% if source.disc4_infinite_mac_url and source.osx_virtual_machine %}<a href="#" onclick="launch_osx_emulator('{% url 'demos:explore/4/osx' source.slug %}')"><b><span aria-hidden="true" class="fa-solid fa-x"></span> Launch disc 4 in {{ source.osx_virtual_machine.website_description }} emulator</b></a>{% endif %}
{% endif %}
</section>
{% endblock %}
{% block content %}
<section id="infinite_mac_embed"></section>
<section>
{% if source.blurb or source.images > 0 or source.magazine_embed_url or source.month or source.year %}
<aside class="wide" style="border: none;">
{% if source.month or source.year %}<h4><span aria-hidden="true" class="fa-solid fa-calendar" title="Released"></span><span class="fa-sr-only">Released</span> {% if source.month %}{{ source.get_month_display }} {% endif %}{% if source.year %}{{ source.year }}{% endif %}</h4>{% endif %}
{% if source.blurb %}
<article>{{ source.blurb | markdown | safe }}</article>
{% endif %}
{% if source.images == 0 %}
<section id="magazine_viewer"></section>
{% elif source.images == 1 %}
<section id="magazine_viewer"><img src="{{ request.scheme }}:{% static 'discs' %}/{{ source.slug }}/image-1.png" alt="Image of {{ source.description }}"></section>
{% elif source.images > 1 %}
    <section class="splide" aria-label="Images of {{ source.description }}" id="magazine_viewer">
        <div class="splide__track">
              <ul class="splide__list">
                {% for image in images %}
                {% if request.session.is_old_browser %}
                  <li class="splide__slide"><a href="{{ request.scheme }}:{% static 'discs' %}/{{ source.slug }}/image-{{ image }}.png">Image {{ image }} of {{ source.description }}</a></li>
                {% else %}
                <li class="splide__slide"><img src="{{ request.scheme }}:{% static 'discs' %}/{{ source.slug }}/image-{{ image }}.png" alt="Image {{ image }} of {{ source.description }}"></li>
                {% endif %}
                {% endfor %}
                </ul>
        </div>
      </section>
      <script>
        new Splide( '.splide', { autoplay: true, rewind: true } ).mount();
    </script>
{% endif %}
</aside>
{% endif %}
{% if source.get_sorted_games %}
{% include "demos/game_cards.html" with games=source.get_sorted_games header="Games from this disc" border=True clear=True %}
{% endif %}
</section>
{% endblock %}
{% block footer %}{% if source.contributor %}Credit and thanks to {% if source.contributor_url %}<a href="{{ source.contributor_url }}" target="_blank">{% endif %}{{ source.contributor }}{% if source.contributor_url %}</a>{% endif %}.{% endif %}
Added {{ source.added }}{% endblock %}
